// SCSS Variables
$primary-color: #0070f3;
$secondary-color: #0070f3;
$background-color: #ffffff;
$text-color: #333333;

// You can define more variables here for consistent styling across the application